@import url('https://fonts.cdnfonts.com/css/poppins');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  /* background: #e5e7eb; */
  color: #fff;
  padding-top: 45px;
}
a {
  color: #0b0b0b;
}
/* #header{
  width: 100%;
  height: 100vh;
  background-image: url(images/background_photo.png);
  background-position: center;
  background-size: cover;
} */
.container {
  padding: 18px 3%;
}
.logo-alignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo-alignment h4 {
  color: #0b0b0b;
  font-size: 24px;
  padding-left: 10px;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 50px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
}
.logo {
  width: 80px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #0b0b0b;
  /* font-weight: bold; */
  text-decoration: none;
  font-size: 14px;
  position: relative;
}
nav ul li a::after {
  content: '';
  width: 0;
  height: 4px;
  background: #0b0b0b;
  position: absolute;
  left: 0;
  bottom: -9px;
  transition: 0.3s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 7%;
  font-size: 20px;
  color: #0b0b0b;
  text-align: center;
  padding: 0px 150px;
  /* padding-left: 10px; */
}
.header-text h1 {
  font-size: 50px;
  margin-top: 10px;
}
.header-text ul li {
  display: inline-block;
  list-style: none;
  padding-top: 20px;
}
.header-text ul li a {
  text-decoration: none;
  font-size: 32px;
  /* position: relative; */
}
.header-text ul li a:hover{
  opacity: 0.8;
}
.header-text .get-in-touch {
  padding: 36px;
}
.header-text .get-in-touch span {
  background-color: #0b0b0b;
  padding: 12px 24px;
  color: #fff;
  border-radius: 10px;
}

/* about */
#about {
  padding: 50px 0px;
  color: #0b0b0b;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 0px;
}
.about-col-1 {
  flex-basis: 30%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #0b0b0b;
}
.tab-titles {
  display: flex;
  margin: 20px 0px 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #0b0b0b;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0px;
}
.tab-contents ul li span {
  color: #0b0b0b;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/* certifications */
#certification{
  padding: 50px 50px;
  /* background-color: #e5e7eb; */
}
.cert-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin-top: 50px;
}
.cert-list div {
  background-color: rgba(228, 228, 231, 0.5);
  color: #0b0b0b;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
}
.cert-list div h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.cert-list div a {
  text-decoration: none;
  font-size: 14px;
  margin-top: 12px;
  color: gray;
  display:block;
  cursor: pointer;
}
.cert-list div a:hover {
  font-weight: bold;
  color: #fff;
}
.cert-list div:hover {
  background: #0b0b0b;
  transform: translateY(-5px);
  color: #fff;
}
/* projects */
#project {
  padding: 0px 50px 50px;
}

.proj-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin-top: 25px;
}
.proj-list div {
  background-color: rgba(228, 228, 231, 0.5);
  color: #0b0b0b;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
}
.proj-list div h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.proj-list div a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
  margin-top: 12px;
  display:block;
  cursor: pointer;
}
.proj-list div a:hover {
  font-weight: bold;
  color: #fff;
}
.proj-list div:hover {
  background: #0b0b0b;
  transform: translateY(-5px);
  color: #fff;
}
/* contact */ 
#contact .container {
  padding: 20px 25px;
  background-color: #0b0b0b;
  color: #fff;
}
.container .grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  /* padding: 10px; */
}
.contact-left .sub-title {
  color: #fff;
}
.contact-left p {
  margin-top: 15px;
}
.contact-left p i{
  margin-right: 15px;
  font-size: 25px;
}
.contact-left div {
  margin-top: 30px;
}
.contact-center,
.contact-right {
  margin-top: 30px;
}
.contact-center ul li,
.contact-right ul li {
  list-style: none;
  padding-top: 10px;
}
.contact-center a,
.contact-right a,
.contact-left a{
  text-decoration: none;
  color: #fff;
}
.contact-center a:hover,
.contact-right a:hover {
  font-weight: bold;
}
.contact-center h2,
.contact-right h2 {
  border-bottom: 4px solid #fff;
  width: 80%;
}
h6 {
  align-items: center;
  text-align: center;
  background-color: #0b0b0b;
  color: #fff;
}

/* responsive csss */
@media only screen and (max-width: 600px) {
  .header-text{
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1, .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  #contact .container .grid-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .contact-center h2 {
  width: 100%;
  }
  .contact-right {
    display: none;
  }
}